{{ partial "header" . }}
<main class="px2 mb3">
{{ if not .Params.disableMeta }}
<div class="clearfix post-meta single-post-meta">
  {{ with .Site.Params.authorimage }}<a href="/about/"><amp-img class="circle mr1 left" src="/img/{{ . }}" layout="fixed" height="60" width="60"></amp-img></a>{{ end }}

  <span class="block">
      <a class="meta-author" href="/about/" role="author">{{ .Site.Params.author }}</a>
      <a class="follow-button" href="https://twitter.com/Ladicle">Follow</a>
  </span>

  {{ if .Params.tags }}
  <div class="meta-tags pt1 shortcut">
  {{ $tn := (len .Params.tags) }}
  This posts is about {{ range $index, $elm := .Params.tags }}<a href="{{ $.Site.BaseURL }}tags/{{ $elm | urlize }}">{{ $elm | lower }}</a>{{ if ne (add $index 1) $tn}}, {{end}}{{ end }}
  and {{ range .Params.categories }}<a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a>{{ end }}.
  </div>
  {{ end }}
  <time class="meta-time block pt1" datetime="{{ .Date.Format "2006-01-02T07:00" }}">{{ .Date.Format (.Site.Params.dateFormat | default "Jan 2, 2006") }}. {{ .ReadingTime }} min read</time>
</div>
{{ end }}

<div class="post-main">
{{ if not .Params.disableTitle }}
<h1>{{ .Title }}</h1>
{{ end }}

<div class="article text-left pb4">{{ .Content }}</div>
</div>

<ul class="list-reset tags flex mb3">
    {{ range .Params.tags }}
    <li><a class="tag" href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a></li>
    {{ end }}
</ul>

{{ if not .Params.disableShare }}

<div class="share-buttons clearfix py3 mt1">
    <div class="share-icons right p0 m0">
        <ul class="list-reset flex p0 m0">
        <li><amp-img tabindex=0 role="comment-btn" class="social-icon social-comment" src="/img/svg/dark/024-speech-bubble.svg" on="tap:AMP.setState({visible1: !visible1})" layout="fixed" height="23" width="23"></amp-img></li>
        <li><amp-social-share width="23" height="23" class="social-system social-icon" type="system"></amp-social-share></li>
        <li><amp-social-share width="23" height="23" class="social-twitter social-icon" type="twitter"></amp-social-share></li>
        <li><amp-social-share width="23" height="23" class="social-facebook social-icon" type="facebook"></amp-social-share></li>
    </ul>
    </div>
</div>
{{ end }}

{{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
{{ if $related }}
    <h4 class="page-header">Related</h4>
    {{ range $related }} {{ partial "list-item" . }} {{ end }}
{{ end }}


{{- if and .Site.DisqusShortname (and (not .Params.disableComment) (not .Params.disableShare)) }}
<div [class]="visible1 ? 'box-show' : 'box-hide'" class="box-hide">
    <amp-iframe class="comment-box" width=600 height=140
	              layout="responsive"
	              sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
	              resizable
	              src="{{ .Site.Params.disqusThreadURL }}#{{ .Permalink | htmlEscape }}">
        <div overflow tabindex="0" role="button" aria-label="Read more"></div>
    </amp-iframe>
</div>
{{ end -}}

</main>
{{ partial "footer.html" . }}

<button id="scrollToTopButton" on="tap:top-page.scrollTo(duration=200)" class="scrollToTop">
    <amp-img src="/img/svg/light/006-up-arrow.svg" layout="fixed" height="26" width="26"></amp-img>
</button>
<amp-animation id="showAnim" layout="nodisplay">
  <script type="application/json">
    {
      "duration": "200ms",
       "fill": "both",
       "iterations": "1",
       "direction": "alternate",
       "animations": [
         {
           "selector": "#scrollToTopButton",
           "keyframes": [
             { "opacity": "1", "visibility": "visible" }
           ]
         }
       ]
    }
  </script>
</amp-animation>
<amp-animation layout="nodisplay" id="hideAnim">
 <script type="application/json">
   {
     "duration": "200ms",
       "fill": "both",
       "iterations": "1",
       "direction": "alternate",
       "animations": [
         {
           "selector": "#scrollToTopButton",
           "keyframes": [
             { "opacity": "0", "visibility": "hidden" }
           ]
         }
       ]
   }
 </script>
</amp-animation>

<div id="marker">
   <amp-position-observer
      on="enter:hideAnim.start; exit:showAnim.start"
      layout="nodisplay">
   </amp-position-observer>
</div>
