{{ partial "header" . }}

<main>

    {{ partial "list-item" . }}

    <br> <div class="text-left">{{ .Content }}</div>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

        <h4 class="page-header">Related</h4>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}

    {{ end }}

	{{- if and .Site.DisqusShortname (not .Params.disableComments) }}
	<amp-iframe width=600 height=200
			layout="responsive"
			sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
			resizable
			src="{{ .Site.Params.disqusThreadURL }}?shortname={{ .Site.DisqusShortname }}&url={{ .Permalink | htmlEscape }}">
		<div overflow tabindex="0" role="button" aria-label="Read more"></div>
	</amp-iframe>
	{{ end -}}
</main>

{{ partial "footer.html" . }}
