<!doctype html>
<html amp lang="en">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script type="application/ld+json">
     {
         "@context": "http://schema.org",
         "@type": "NewsArticle",
         "headline": "{{ .Title }}",
         "datePublished": "2018-06-27T00:00:00Z",
         "image": [ "{{ .Site.BaseURL }}{{ .Params.thumbnail | default "img/avator.png" }}" ]
     }
    </script>
    {{ if .Params.gist }}<script async custom-element="amp-gist" src="https://cdn.ampproject.org/v0/amp-gist-0.1.js"></script>{{ end }}
    {{ if .Params.twitter }}<script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>{{ end }}
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    {{- if or (eq .Type "post") (eq .Type "activity") }}
    <script async custom-element="amp-position-observer" src="https://cdn.ampproject.org/v0/amp-position-observer-0.1.js"></script>
    <script async custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
    {{ end -}}
    {{ if .Site.GoogleAnalytics }}<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>{{ end }}
    {{ if .Site.Params.favicon }}<link rel="icon" href="{{ .Site.Params.favicon | absURL }}">{{ end }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ .Site.Params.TwitterName }}" />

    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail | default "img/avatar.png" }}" />

    <link rel="feed" href="{{ .RSSLink }}" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link rel="manifest" href="/manifest.json">

    <link href="https://fonts.googleapis.com/css?family=Changa:700" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>{{ replaceRE " +" " " (replaceRE "\n" "" (partial "main.css" .)) | safeCSS }}</style>
    {{ .Hugo.Generator }}
</head>
<body>
    {{ $now := .URL }}
    <amp-sidebar id="header-sidebar" class="sidebar pr3 py1 md-hide lg-hide no_print" layout="nodisplay">
        <div role="button" on="tap:header-sidebar.toggle" tabindex="0" class="navbar-trigger pl1 no_print">✕</div>
        <nav class="sidebar-nav list-reset m0 no_print">
            <ul class="list-reset m0 py1 no_print">
                {{ range sort .Site.Menus.main }}
                {{ if eq .URL $now }}
                <li class="sidebar-item current-sidebar-item pl1 no_print">{{ .Name }}</li>
                {{ else }}
                <li class="sidebar-item pl1 no_print"><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
                {{ end }}
            </ul>
        </nav>
    </amp-sidebar>
    <div id="wrapper">
      <div id="top-page"></div>
      <header class="headerbar fixed flex items-center top-0 left-0 right-0 px2 no_print">
    <p class="logo-wrap mr-auto no_print"><a class="logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
    <nav role="main-navigation no_print" class="pt3">
        <ul class="no_print">
        {{ range sort .Site.Menus.main }}
        {{ if eq .URL $now }}
        <li class="nav-item current-nav-item no_print">{{ .Name | upper }}</li>
        {{ else }}
        <li class="nav-item available-nav-item"><a class="main-menu" href="{{ .URL }}">{{ .Name | upper }}</a></li>
        {{ end }}
        {{ end }}
        </ul>
    </nav>
    <div role="button" on="tap:header-sidebar.toggle" tabindex="0" class="nav-toggle no_print">
        <amp-img src="/img/svg/light/022-menu.svg" layout="fixed" height="23" width="23" class="no_print"></amp-img>
    </div>
</header>
