:root {
    --accent: #47c9e5;
}

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #777;
}

body {
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    flex: 1 0 auto;
    max-width: 750px;
}

h1 {
    color: #505050;
}

h2 {
    color: #8D8D8D;
}

a:link, a:visited {
    color: var(--accent);
}
a:hover {
    color: var(--accent);
}

amp-img {
    max-width: 100%;
}
